.element__text-add {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  color: var(--color-dark);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}
@media screen and (max-width: 700px) {
  .element__text-add {
    font-size: 18px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 440px) {
  .element__text-add {
    font-size: 16px;
    letter-spacing: 1px;
  }
}