.user__edit-btn {
  position: absolute;
  top: 0;
  right: 45%;
  width: 30px;
  height: 30px;
  border: none;
  background: url(../../../img/edit-button.svg) center 10px/20px no-repeat;
  filter: invert(1);
}
@media screen and (max-width: 600px) {
  .user__edit-btn {
    right: 30%;
    top: -10px;
    background-position: center 14px;
    background-size: 16px;
  }
}