.element__delete-btn {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background: url('../../../img/Trash.svg') center/contain no-repeat;
  border: none;
  cursor: pointer;
  padding: 0;
}
@media screen and (max-width: 550px) {
  .element__delete-btn {
    top: 14px;
    right: 14px;
    width: 16px;
    height: 17px;
  }
}