.element {
  width: 282px;
  height: auto;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .element {
    width: 100%;
    border-radius: 4px;
  }
}